# _****Task 1:-****_ <span style=color:yellow;> *****Analyze Student Grades*****</span>
<span style=color:white;>**Intern:**</span> *Ibrahim Salman*

<span style=color:white;>**Period:**</span> *20/9/2025 to 10/10/2025*

## <span style=color:yellow;>****_Import Libraries_****</span>

In [27]:
import pandas as pd

## <span style=color:yellow;>****_Load .csv File (Dataset)_****</span>

In [28]:
df = pd.read_csv("Exam_Score.csv", encoding="Latin1")
df

,S. No.,NAME OF THE STUDENT,UNIVERSITY,PROGRAM NAME,Specialisation,SEMESTER,Domain,Math,English,Science,Total
0,1,Michael Jackson,"Harvard University, USA",MBA,International Business,3rd,IB,50,49,99,198
1,2,Nicholas Clark,"Harvard University, USA",MBA,International Business,3rd,IB,49,49,98,196
2,3,Harper Turner,"Harvard University, USA",MBA,International Business,3rd,IB,49,48,97,194
3,4,Carter Hall,"Harvard University, USA",MBA,International Business,3rd,IB,50,47,97,194
4,5,Abigail Bailey,"Harvard University, USA",MBA,International Business,3rd,IB,47,48,95,190
5,6,Joseph Diaz,"Harvard University, USA",MBA,International Business,3rd,IB,49,46,95,190
6,7,Avery Gonzalez,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,49,43,92,184
7,8,Lily Davis,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,49,43,92,184
8,9,Matthew Johnson,"Harvard University, USA",MBA,International Business,3rd,IB,49,43,92,184
9,10,Benjamin Martin,"Harvard University, USA",MBA,International Business,3rd,IB,48,41,89,178
10,11,Elijah Robinson,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,48,41,89,178
11,12,Zoey Hayes,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,49,40,89,178
12,13,Charlotte Wilson,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,47,41,88,176
13,14,Jack Scott,"Harvard University, USA",MBA,International Business,3rd,IB,47,41,88,176
14,15,Noah Parker,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,48,40,88,176
15,16,David Rodriguez,"Harvard University, USA",MBA,Business Analytics,3rd,E&I,47,41,88,176
16,17,Harper Jones,"Harvard University, USA",MBA,International Business,3rd,IB,48,39,87,174
17,18,Aiden Wood,"Harvard University, USA",MBA,International Business,3rd,IB,44,42,86,172
18,19,Lucas Johnson,"Stanford University, USA",MBA,Digital Marketing,3rd,DM,47,38,85,170
19,20,Nicholas Jones,"Harvard University, USA",MBA,International Business,3rd,IB,43,41,84,168
20,21,Benjamin Richardson,"Stanford University, USA",MBA,International Business,3rd,IB,44,38,82,164
21,22,Alexander Moore,"Harvard University, USA",MBA,International Business,3rd,IB,47,31,78,156
22,23,Layla Phillips,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,38,38,76,152
23,24,Camila Hayes,"Harvard University, USA",MBA,Entrepreneurship & Innovation,3rd,E&I,38,37,75,150
24,25,Zoey Rivera,"Stanford University, USA",MBA,Banking and Financial Services,3rd,Finance,38,36,74,148
25,26,Sophia King,"Stanford University, USA",MBA,Digital Marketing,3rd,DM,38,36,74,148
26,27,Grace Cooper,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,38,36,74,148
27,28,Ella Bailey,"Harvard University, USA",MBA,International Business,3rd,IB,50,23,73,146
28,29,Harper Nelson,"Stanford University, USA",MBA,International Business,3rd,IB,40,33,73,146
29,30,Henry Baker,"Harvard University, USA",MBA,International Business,3rd,IB,40,33,73,146
30,31,Abigail Robinson,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,35,37,72,144
31,32,Harper Jackson,"Harvard University, USA",MBA,International Business,3rd,IB,50,22,72,144
32,33,Elijah Thomas,"Harvard University, USA",MBA,Entrepreneurship & Innovation,3rd,E&I,33,38,71,142
33,34,Liam Thompson,"Harvard University, USA",MBA,International Business,3rd,IB,40,31,71,142
34,35,Joseph Martinez,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,37,33,70,140
35,36,Ethan Adams,"Harvard University, USA",MBA,International Business,3rd,IB,36,31,67,134
36,37,Sofia Garcia,"Harvard University, USA",MBA,International Business,3rd,IB,31,36,67,134
37,38,Henry Gonzalez,"Harvard University, USA",MBA,International Business,3rd,DM,36,31,67,134
38,39,Harper Bailey,"Harvard University, USA",MBA,International Business,3rd,IB,28,36,64,128
39,40,Alexander Clark,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,28,36,64,128
40,41,Liam Taylor,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,37,25,62,124
41,42,Jack Garcia,"Harvard University, USA",MBA,International Business,3rd,IB,38,24,62,124
42,43,Sophia Carter,"Harvard University, USA",MBA,International Business,3rd,IB,36,25,61,122
43,44,Layla Jackson,"Harvard University, USA",MBA,International Business,3rd,IB,28,33,61,122
44,45,Noah Martinez,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,19,34,53,106
45,46,Grace Hall,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,28,23,51,102
46,47,Carter Wood,"Harvard University, USA",MBA,International Business,3rd,IB,26,18,44,88
47,48,Emma Reed,"Harvard University, USA",MBA,International Business,3rd,IB,21,21,42,84
48,49,Harper Diaz,"Harvard University, USA",MBA,International Business,3rd,IB,26,15,41,82
49,50,James Scott,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,19,19,38,76
50,51,Chloe Anderson,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,17,20,37,74
51,52,Oliver Turner,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,24,13,37,74
52,53,Madison Harris,"Harvard University, USA",MBA,Brand Management,3rd,E&I,15,15,30,60
53,54,Andrew Phillips,"Harvard University, USA",MBA,International Business,3rd,IB,22,8,30,60
54,55,Evelyn Robinson,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,Finance,17,11,28,56
55,56,Nicholas Rodriguez,"Harvard University, USA",MBA,International Business,3rd,IB,16,8,24,48

## <span style=color:yellow;>****_Dataset Overview_****</span>

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   S. No.               56 non-null     int64
 1   NAME OF THE STUDENT  56 non-null     object
 2   UNIVERSITY           56 non-null     object
 3   PROGRAM NAME         56 non-null     object
 4   Specialisation       56 non-null     object
 5   SEMESTER             56 non-null     object
 6   Domain               56 non-null     object
 7   Math                 56 non-null     int64
 8   English              56 non-null     int64
 9   Science              56 non-null     int64
 10  Total                56 non-null     int64
dtypes: int64(5), object(6)
memory usage: 4.9+ KB

## <span style=color:yellow;>****_Check DataTypes_****</span>

In [30]:
df.dtypes

S. No.                  int64
NAME OF THE STUDENT    object
UNIVERSITY             object
PROGRAM NAME           object
Specialisation         object
SEMESTER               object
Domain                 object
Math                    int64
English                 int64
Science                 int64
Total                   int64
dtype: object

## <span style=color:yellow;>****_Check Columns Names_****</span>

In [31]:
df.columns

Index(['S. No.', 'NAME OF THE STUDENT', 'UNIVERSITY', 'PROGRAM NAME',
       'Specialisation', 'SEMESTER', 'Domain', 'Math', 'English', 'Science',
       'Total'],
      dtype='object')

## <span style=color:yellow;>****_Check Dataset Shape_****</span>

In [32]:
df.shape

(56, 11)

## <span style=color:yellow;>****_Missing Values Handle_****</span>

In [33]:
df.isnull().sum()

S. No.                 0
NAME OF THE STUDENT    0
UNIVERSITY             0
PROGRAM NAME           0
Specialisation         0
SEMESTER               0
Domain                 0
Math                   0
English                0
Science                0
Total                  0
dtype: int64

## <span style=color:yellow;>****_Calculate Each Student's Average Score_****</span>

In [34]:
df["Average"] = df[["Math", "English", "Science"]].mean(axis=1)
df["Average"]
df

,S. No.,NAME OF THE STUDENT,UNIVERSITY,PROGRAM NAME,Specialisation,SEMESTER,Domain,Math,English,Science,Total,Average
0,1,Michael Jackson,"Harvard University, USA",MBA,International Business,3rd,IB,50,49,99,198,66.000000
1,2,Nicholas Clark,"Harvard University, USA",MBA,International Business,3rd,IB,49,49,98,196,65.333333
2,3,Harper Turner,"Harvard University, USA",MBA,International Business,3rd,IB,49,48,97,194,64.666667
3,4,Carter Hall,"Harvard University, USA",MBA,International Business,3rd,IB,50,47,97,194,64.666667
4,5,Abigail Bailey,"Harvard University, USA",MBA,International Business,3rd,IB,47,48,95,190,63.333333
5,6,Joseph Diaz,"Harvard University, USA",MBA,International Business,3rd,IB,49,46,95,190,63.333333
6,7,Avery Gonzalez,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,49,43,92,184,61.333333
7,8,Lily Davis,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,49,43,92,184,61.333333
8,9,Matthew Johnson,"Harvard University, USA",MBA,International Business,3rd,IB,49,43,92,184,61.333333
9,10,Benjamin Martin,"Harvard University, USA",MBA,International Business,3rd,IB,48,41,89,178,59.333333
10,11,Elijah Robinson,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,48,41,89,178,59.333333
11,12,Zoey Hayes,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,49,40,89,178,59.333333
12,13,Charlotte Wilson,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,47,41,88,176,58.666667
13,14,Jack Scott,"Harvard University, USA",MBA,International Business,3rd,IB,47,41,88,176,58.666667
14,15,Noah Parker,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,48,40,88,176,58.666667
15,16,David Rodriguez,"Harvard University, USA",MBA,Business Analytics,3rd,E&I,47,41,88,176,58.666667
16,17,Harper Jones,"Harvard University, USA",MBA,International Business,3rd,IB,48,39,87,174,58.000000
17,18,Aiden Wood,"Harvard University, USA",MBA,International Business,3rd,IB,44,42,86,172,57.333333
18,19,Lucas Johnson,"Stanford University, USA",MBA,Digital Marketing,3rd,DM,47,38,85,170,56.666667
19,20,Nicholas Jones,"Harvard University, USA",MBA,International Business,3rd,IB,43,41,84,168,56.000000
20,21,Benjamin Richardson,"Stanford University, USA",MBA,International Business,3rd,IB,44,38,82,164,54.666667
21,22,Alexander Moore,"Harvard University, USA",MBA,International Business,3rd,IB,47,31,78,156,52.000000
22,23,Layla Phillips,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,38,38,76,152,50.666667
23,24,Camila Hayes,"Harvard University, USA",MBA,Entrepreneurship & Innovation,3rd,E&I,38,37,75,150,50.000000
24,25,Zoey Rivera,"Stanford University, USA",MBA,Banking and Financial Services,3rd,Finance,38,36,74,148,49.333333
25,26,Sophia King,"Stanford University, USA",MBA,Digital Marketing,3rd,DM,38,36,74,148,49.333333
26,27,Grace Cooper,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,38,36,74,148,49.333333
27,28,Ella Bailey,"Harvard University, USA",MBA,International Business,3rd,IB,50,23,73,146,48.666667
28,29,Harper Nelson,"Stanford University, USA",MBA,International Business,3rd,IB,40,33,73,146,48.666667
29,30,Henry Baker,"Harvard University, USA",MBA,International Business,3rd,IB,40,33,73,146,48.666667
30,31,Abigail Robinson,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,35,37,72,144,48.000000
31,32,Harper Jackson,"Harvard University, USA",MBA,International Business,3rd,IB,50,22,72,144,48.000000
32,33,Elijah Thomas,"Harvard University, USA",MBA,Entrepreneurship & Innovation,3rd,E&I,33,38,71,142,47.333333
33,34,Liam Thompson,"Harvard University, USA",MBA,International Business,3rd,IB,40,31,71,142,47.333333
34,35,Joseph Martinez,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,37,33,70,140,46.666667
35,36,Ethan Adams,"Harvard University, USA",MBA,International Business,3rd,IB,36,31,67,134,44.666667
36,37,Sofia Garcia,"Harvard University, USA",MBA,International Business,3rd,IB,31,36,67,134,44.666667
37,38,Henry Gonzalez,"Harvard University, USA",MBA,International Business,3rd,DM,36,31,67,134,44.666667
38,39,Harper Bailey,"Harvard University, USA",MBA,International Business,3rd,IB,28,36,64,128,42.666667
39,40,Alexander Clark,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,28,36,64,128,42.666667
40,41,Liam Taylor,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,37,25,62,124,41.333333
41,42,Jack Garcia,"Harvard University, USA",MBA,International Business,3rd,IB,38,24,62,124,41.333333
42,43,Sophia Carter,"Harvard University, USA",MBA,International Business,3rd,IB,36,25,61,122,40.666667
43,44,Layla Jackson,"Harvard University, USA",MBA,International Business,3rd,IB,28,33,61,122,40.666667
44,45,Noah Martinez,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,19,34,53,106,35.333333
45,46,Grace Hall,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,28,23,51,102,34.000000
46,47,Carter Wood,"Harvard University, USA",MBA,International Business,3rd,IB,26,18,44,88,29.333333
47,48,Emma Reed,"Harvard University, USA",MBA,International Business,3rd,IB,21,21,42,84,28.000000
48,49,Harper Diaz,"Harvard University, USA",MBA,International Business,3rd,IB,26,15,41,82,27.333333
49,50,James Scott,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,19,19,38,76,25.333333
50,51,Chloe Anderson,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,17,20,37,74,24.666667
51,52,Oliver Turner,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,E&I,24,13,37,74,24.666667
52,53,Madison Harris,"Harvard University, USA",MBA,Brand Management,3rd,E&I,15,15,30,60,20.000000
53,54,Andrew Phillips,"Harvard University, USA",MBA,International Business,3rd,IB,22,8,30,60,20.000000
54,55,Evelyn Robinson,"Harvard University, USA",MBA,Innovation Entrepreneurship and Venture Develo...,3rd,Finance,17,11,28,56,18.666667
55,56,Nicholas Rodriguez,"Harvard University, USA",MBA,International Business,3rd,IB,16,8,24,48,16.000000

## <span style=color:yellow;>****_Student with the Highest Average_****</span>

In [35]:
top_student = df.loc[df["Average"].idxmax()]

print("Top Student Details:")
print(top_student[["NAME OF THE STUDENT", "Math", "English", "Science", "Average"]])

Top Student Details:
NAME OF THE STUDENT    Michael Jackson
Math                                50
English                             49
Science                             99
Average                           66.0
Name: 0, dtype: object